/*  --------------------------------------> MenuPage <---------------------------------------------*/
/*.root {
-fx-font-family : "Arial";
}*/
#categorybutton {
-fx-background-color : #f02828;
-fx-font-size: 20px;
-fx-text-fill: white;
}
#categorybutton:hover {
-fx-background-image: url("img/menubutton/buttonOnHover.jpg");
}
/*.button:pressed {
-fx-background-color : #ff80aa;
}*/
#categorybutton:focused {
-fx-background-image: url("img/menubutton/buttonOnPressed.jpg");
/*-fx-background-color : #8f0a0a;*/
-fx-font-size: 30px;
}
.table-view {
-fx-font: 40px "Arial";
}
#namemenu {
/*-fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 59% , center 37% 63% , radius 55% , #f46060, #f02828);*/
/*-fx-background-color : #d7acd4;*/
-fx-alignment: CENTER;
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: white;
/*-fx-border-color: #5f0707;
-fx-border-width: 1;*/
}
/*#namemenu.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}*/
#pricemenu {
/*white, #c3bef0*/
/*-fx-background-color: radial-gradient(focus-angle 200deg , focus-distance 59% , center 37% 63% , radius 55% , #f57070, #f02828);*/
/*-fx-background-color : #d7acd4;*/
-fx-alignment: CENTER;
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: white;
/*-fx-border-color: #5f0707;
-fx-border-width: 1;*/
}
#gridmenu {
/*-fx-background-color : #d38cad;*/
-fx-border-width : 0;
}
#basebackground {
/*-fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 59% , center 37% 63% , radius 55% , #494949, #1a1a1a);*/
/*-fx-background-color : #1b1e1d;*/
-fx-background-image: url("img/background.jpg");
}
#orderingList {
-fx-background-color : #f24040;
-fx-font-size: 20px;
}
#confirmbg {
-fx-background-color : #f24040;
}

/*  --------------------------------------> OrderStatusPage <---------------------------------------------*/
#orderbasebackground {
-fx-background-image: url("img/backgroundOrder.jpg");
}
#orderColumn {
-fx-background-color: #FFD700;
/*-fx-background-image: url("img/menubutton/backButton.png");*/
}
#confirmAnchorPane {
-fx-background-image: url("img/confirmbackground.jpg");
-fx-background-size: 640px 360px;
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(244,244,244,1), rgba(244,244,244,0));
/*-fx-background-opacity: 0.5; */
}