.scroll-bar{
 -fx-background-color: rgb(96,96,96);
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: transparent;
 -fx-border-color:transparent;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: transparent;
 -fx-background-insets: 0;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 4 0 4 0;
 -fx-background-radius: 2em;
}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
 -fx-background-insets: 0 4 0 4;
 -fx-background-radius: 2em;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:transparent;
 -fx-background-radius: 2em;
 -fx-padding: 5;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 -fx-padding: 0.25em;
 -fx-rotate: -90;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: 90;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-padding: 0.25em;
 -fx-rotate: -180;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: transparent,rgb(96,96,96),rgb(96,96,96);
}
/*  --------------------------------------> ReserveTablePage <---------------------------------------------*/
#reserveAnchorPane {
-fx-background-image: url("img/reserveBackground.jpg");
-fx-background-size: 1920px 1080px;
}
#reserveButton {
-fx-background-color:
        linear-gradient(#ffd1dc, #ffd1dc),
        radial-gradient(center 50% -40%, radius 200%, #f57070 45%, #f02828 50%);
-fx-background-radius: 6, 5;
-fx-background-insets: 0, 1;
-fx-text-fill: white;
-fx-cursor: hand;
}
/*  --------------------------------------> BookingPage <---------------------------------------------*/
#bookingAnchorPane {
-fx-background-image: url("img/bookingPage.jpg");
-fx-background-size: 1920px 1080px;
}
#bookingboard {
-fx-background-image: url("img/bookingBoardBackground.jpg");
-fx-border-color: #f13939;
-fx-border-width: 5;
}
/*  --------------------------------------> MenuPage <---------------------------------------------*/
/*.root {
-fx-font-family : "Arial";
}*/
.categorybutton {
-fx-background-color : #f02828;
-fx-font-size: 20px;
-fx-text-fill: white;
/*-fx-transition: 0.5s ease-out;*/
}
.categorybutton:hover {
-fx-cursor: hand;
/*-fx-padding-right: 25px;*/
/*-fx-background-image: url("img/menubutton/buttonOnHover.jpg");*/
}
/*.categorybutton:hover span:after {
-fx-opacity: 1;
-fx-right: 0;
}*/
/*.button:pressed {
-fx-background-color : #ff80aa;
}*/
.categorybutton:pressed {
-fx-rotate: 10;
}
.categorybutton:focused {
-fx-background-image: url("img/menubutton/buttonOnPressed.jpg");
/*-fx-background-color : #8f0a0a;*/
-fx-font-size: 20px;
}
.table-view {
-fx-font: 40px "Arial";
}
#namemenu {
/*-fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 59% , center 37% 63% , radius 55% , #f46060, #f02828);*/
/*-fx-background-color : #d7acd4;*/
-fx-alignment: CENTER;
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: white;
/*-fx-border-color: #5f0707;
-fx-border-width: 1;*/
}
/*#namemenu.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}*/
#pricemenu {
/*white, #c3bef0*/
/*-fx-background-color: radial-gradient(focus-angle 200deg , focus-distance 59% , center 37% 63% , radius 55% , #f57070, #f02828);*/
/*-fx-background-color : #d7acd4;*/
-fx-alignment: CENTER;
-fx-font-size: 20px;
-fx-font-weight: bold;
-fx-text-fill: white;
/*-fx-border-color: #5f0707;
-fx-border-width: 1;*/
}
#gridmenu {
/*-fx-background-color : #d38cad;*/
-fx-border-width : 0;
}
#basebackground {
/*-fx-background-color: radial-gradient(focus-angle 254deg , focus-distance 59% , center 37% 63% , radius 55% , #494949, #1a1a1a);*/
/*-fx-background-color : #1b1e1d;*/
-fx-background-image: url("img/background.jpg");
}
#orderingList {
-fx-background-color: #f24040;
-fx-font-size: 20px;
}
#confirmbg {
-fx-background-color: #f24040;
}
#orderButton {
-fx-background-color: #a9eca2;
-fx-cursor: hand;
}
#orderButton:pressed {
-fx-background-color: #9fc59b;
}
#categoryName {
-fx-border-color: black;
-fx-border-width: 3;
-fx-background-color: #f13939;
/*-fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #ffd505, #ff942e);*/
}
#orderPane {
-fx-background-color: #ff85a2;
-fx-border-color: #f13939;
-fx-border-width: 5;
}
#ordermenu {
-fx-font-size: 20px;
-fx-text-fill: white;
-fx-font-weight: bold;
}
#orderprice {
-fx-font-size: 20px;
-fx-text-fill: white;
-fx-font-weight: bold;
}
#qntLabel {
-fx-font-size: 20px;
-fx-text-fill: white;
-fx-font-weight: bold;
}
#orderDelButton {
-fx-background-image: url("img/menubutton/delButton.png");
-fx-background-size: 25px 40px;
-fx-font-size: 20px;
}
#orderMinButton {
-fx-background-color:
        linear-gradient(#ffd1dc, #ffd1dc),
        radial-gradient(center 50% -40%, radius 200%, #f57070 45%, #f02828 50%);
-fx-background-radius: 6, 5;
-fx-background-insets: 0, 1;
-fx-text-fill: white;
-fx-font-size: 20px;
}
#orderMinButton:pressed {
-fx-background-color:
        linear-gradient(#ffd1dc, #ffd1dc),
        radial-gradient(center 50% -40%, radius 200%, #d36262 45%, #d03636 50%);
        -fx-background-radius: 6, 5;
        -fx-background-insets: 0, 1;
}
#orderPlusButton {
-fx-background-color:
        linear-gradient(#ffd1dc, #ffd1dc),
        radial-gradient(center 50% -40%, radius 200%, #9ecae6 45%, #958deb 50%);
-fx-background-radius: 6, 5;
-fx-background-insets: 0, 1;
-fx-text-fill: white;
-fx-font-size: 20px;
}
#orderPlusButton:pressed {
-fx-background-color:
        linear-gradient(#ffd1dc, #ffd1dc),
        radial-gradient(center 50% -40%, radius 200%, #93b4c8 45%, #8781c4 50%);
-fx-background-radius: 6, 5;
-fx-background-insets: 0, 1;
-fx-text-fill: white;
}
/*  --------------------------------------> OrderStatusPage <---------------------------------------------*/
#orderbasebackground {
-fx-background-image: url("img/backgroundOrder.jpg");
}
#orderColumn {
-fx-background-color: #FFD700;
/*-fx-background-image: url("img/menubutton/backButton.png");*/
}
#confirmAnchorPane {
-fx-background-image: url("img/confirmbackground.jpg");
-fx-background-size: 640px 360px;
-fx-background-color: linear-gradient(from 0% 50% to 100% 50%, rgba(244,244,244,1), rgba(244,244,244,0));
/*-fx-background-opacity: 0.5; */
}